.logo img{
    width: 195px;
}
.loginpad{
    padding-top: 30px;
    padding-right: 0px;
    padding-left: 25px;
}
.list-inline{
    padding-left: 20px;
}
.list-inline>li{
    padding-left: 15px;
    padding-right: 9px;
}
.icon-blue {
    color: #0088cc;
  }
  
  *.icon-grey {
    color: #faf5f5e8;
  }
  
  i {
    width: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
  }
  
  .badge:after {
    content: attr(data-count);
    position: absolute;
    background: #ff6600;
    height: 2rem;
    top: 1rem;
    right: 1.5rem;
    width: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 50%;
    color: white;
    border: 1px solid #ff6600;
    font-family: sans-serif;
    font-weight: bold;
  }