/*All rings section*/
.row.row-flex{
	display:flex;
    flex-wrap:wrap;
}
.viewrings-section{
	  display:none;
   text-transform: uppercase;
	}
.viewrings-section .design-head{
	font-size:20px;
}
p.design-head {
    border-bottom: 1px solid #f1f1f1;
    padding:20px 0;
}
.filter-head{
    margin: 15px 0 20px;
}