<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>jewellery</title>
    <!-- Bootstrap Css -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body id="content">
    <div class="container">
        <br>
        <div class="row row-flex">
                
               
            
            <ng-container *ngFor="let product of currentTileProduct.products">
                <div *ngFor="let childitems of product.productSkus" class="col-lg-4 col-sm-6 col-md-4 col-xs-12">
                        <div class="bx-content">
                                <div class="image-box">
                                     <div id="addtocart">
                                        <button (click)="createOrder(product,childitems.sku)" type=”button”>
                                               <!-- <a [routerLink]="cart">-->
                                            addToCart</button>
                                    </div> 
                    <a>
                        <img src="{{childitems.image}}" class="img-responsive" alt="Cinque Terre" (click)="getDetails(childitems.sku)">
                        <div [attr.id]="'childitems'+childitems.price">Rs.{{childitems.price}}</div>
                    </a>
                    <div [attr.id]="'product'+product.productId" [attr.value]="'productId'+product.productId"> {{product.productName}}</div>
                </div>
                        </div>
                </div>
            </ng-container>
            
                   
               
        </div>
    </div>

</body>

</html>

 <!-- <app-cart [skuidtesting]='skuidtesting'></app-cart>  -->




<!--<h1>Products Details</h1>

Product information: id: {{product.id}} || name: {{product.name}}
<br><a routerLink="/products">Go To Products List</a>-->